h1, div{
    display: inline;
}

#div3{
    display: block;
}

#div4{
    /* Este div esta display: inline */
     /* Definido para todas as divs logo acima */
    background-color: khaki;
}

p{
    display: inline; /* colocar display:inline-block aqui resolveria o problema */
    border: solid blueviolet;
    /* margin-bottom: 5px; */
    /* O codigo acima nao funciona por causa do display:inline */
}

#div5{
    display: block;
    border: solid red;
    /* dando um jeitinho no problema das bordas sobrepondo-se */
    margin-top: 5px;
}
