h1[id]{
    color: lawngreen;
}

h1[id="Teste3"]{
    color: rgb(252, 59, 0);
}

h1[id^="4"]{
    color: rgb(0, 130, 252);
}

h1[id$="5"]{
    color: rgb(252, 0, 0);
}

h1[id*="Mercado" i]{
    color: rgb(4, 0, 252);
}

h2, h3{
    border: solid;
}

div *{
    border: solid red;
}