:root{
    --alturaImg: 30px;
    --larguraImg: 30px;
    --alturaDiv: 134px;
}

#um{
    background-color: skyblue;
    height: var(--alturaDiv);
    width: 134px;
}

#dois{
    margin: auto;
    height: var(--alturaImg);
    width: var(--larguraImg);
    background-color: sienna;
    position: relative;
    top:Calc((var(--alturaDiv)/2) - (var(--alturaImg)/2));
}

#tres{
    
    height: var(--alturaImg);
    width: var(--larguraImg);
}
