#um{
    display: flex;
    background-color: skyblue;
    height: 134px;
    width: 134px;
    align-items: center;
}

#dois{
    margin: auto;

    height: 30px;
    width: 30px;
}

#tres{
    margin: auto;
    height: 30px;
    width: 30px;
 
}
