img{
    width: 30px;
}

#um{
    padding: 5px;
    display: inline-block;
    background-color: rosybrown;
}

li{
    list-style-type: none;
    float: left;
}

img:not(#cinco){
    margin-right: 20px;
}

